@import "common";

.hero {
  text-align: center;
  padding: 8rem 0 1rem;
  
  @include tablet {
    padding: 16rem 0 5rem;
  }
}

.device {
  position: relative;
  max-width: 80%;
  margin: 3rem auto 0;
  
  @include tablet {
    position: absolute;
    top: -15rem;
    max-height: 500px;
    right: 0;
  }
  
  @include desktop {
    right: 8rem;
  }
}

.catchcopy {
  margin: 10px 0;
  font-size: 3rem;
}

.quote {
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: #777;
  
  @include tablet {
    padding: 22rem 0 0;
  }
  
  .name {
    font-size: 1.5rem;
    color: $quote-name-color;
    font-style: normal;
  }
}

.text-center {
  text-align: center;
}