<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Today Today Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Today Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Today.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayKit (watchOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TodayKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24030ADF1C1C821C004E68ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24030AF61C1C821C004E68ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24030B011C1C821C004E68ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2451ED781C54FDFA00E7181B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246688151C1D189F00C5E5A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2466882C1C1D18C400C5E5A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246688351C1D18C400C5E5A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24A487ED1C5503C50015DB05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C6C1A41C54F9970041C31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C6C1AD1C54F9970041C31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C77E821C2A8A3E00493C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C77E8B1C2A8A3E00493C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F21AAE1C4FCFE900396A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F21AC01C4FD73C00396A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
