<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - TodayWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Notification - TodayWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodayModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TodayWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24030ADF1C1C821C004E68ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24030AF61C1C821C004E68ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24030B011C1C821C004E68ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246688151C1D189F00C5E5A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2466882C1C1D18C400C5E5A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246688351C1D18C400C5E5A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C77E821C2A8A3E00493C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C77E8B1C2A8A3E00493C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F21AAE1C4FCFE900396A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F21AC01C4FD73C00396A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
