<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotificationHour</key>
	<integer>21</integer>
	<key>NotificationMinute</key>
	<integer>0</integer>
	<key>NotificationEnabled</key>
	<true/>
	<key>FirstLaunch</key>
	<true/>
	<key>iCloudEnabled</key>
	<false/>
</dict>
</plist>
